*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

h1,h4,h3{
    text-align: center;
    color: teal;
    
}

.banner{
    position: relative; 
    width: 80%;
    margin: 0 auto;
}
.banner img{
    width: 100%;
    
}
#availableCars{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.enquiries{
    margin-top: 5%;
    
   
}
#enquiries{
    margin-top: 5%;
    margin-left: 10%;
    
    
}
#fullName, #email, #carModel, #floatingTextarea{
    background-color: lightgray;
}

#contactAgent{
    margin-top: 5%;
   
}
.address{
    
    text-align: center;
}
.footer{
    margin-top: auto;
    text-align: center;
}