*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
    
}


h4,h3{
    text-align: center;
    color: teal;
    
}
h1{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color: teal;

    
}
.banner{
    position: relative; 
    width: 80%;
    margin: 0 auto;
}
.banner img{
   
    width: 100%;
    
}
#availableCars{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.card img{
    border-radius: 10%;
}
.enquiries{
    margin-top: 5%;
    
   
}
#enquiries{
    margin-top: 5%;
    margin-left: 10%;
    
    
}
#fullName, #email, #carModel, #floatingTextarea{
    background-color: lightgray;
}

#contactAgent{
    margin-top: 5%;
   
}
.address{
    
    text-align: center;
}
.address iframe{
    margin-top: 3%;
}
.address p{
    margin-top: 5%;
}
.footer{
    margin-top: auto;
    text-align: center;
}
.footer p{
    font-size: large;
    color: teal;
}

   
  @media (max-width: 800px) {
      #availableCars{
          display: block;
          float:none;
      }
    }
